<div id="<%= dom_id message %>">
  <% if message.role == "user" %>
  <div class="card p-3 mb-3 rounded-4 col-7">
    <%= message.content %>
  </div>
  <% elsif message.role == "assistant" %>
    <%= message.content %>
  <% end %>
</div>
