<div id="<%= dom_id message %>">
  <p>
    <strong>Role:</strong>
    <%= message.role %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <p>
    <strong>Chat:</strong>
    <%= message.chat_id %>
  </p>

</div>
