<div id="<%= dom_id message %>">
  <% if message.role == "user" %>
    <div class="card p-3 mb-3 rounded-4 col-7">
      <%= message.content.html_safe %>
    </div>
  <% elsif message.role == "assistant" %>
    <div class="card p-4 m-4 rounded-5 col-12">
      <%= raw message.compiled_content %>
    </div>
  <% end %>
</div>
