<h1 >Data Sources</h1>
<br>
<div id="data_sources">
  <%= render @data_sources %>
</div>
<br>
<%= render 'new_data_source' %>
<div class="modal fade" tabindex="-1" id="error_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unable to Connect</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="error_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>