<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">New Data Source</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= render 'form', data_source: @data_source %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">ThinkDB Data Source Configuration</h2>
          <p>ThinkDB requires data sources to be properly configured. Each data source connects to a single database on a database server. Here are a few points to keep in mind:</p>
          <ul>
            <li>You can create multiple data sources.</li>
            <li>Only one data source can be active at a time.</li>
            <li>You can change the active data source at any time from the left navigation bar.</li>
          </ul>
          <p>Proper configuration ensures that ThinkDB can interact with the database efficiently and effectively.</p>
        </div>
      </div>
    </div>
  </div>
</div>
