<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">New Data Source</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <%= render 'form', data_source: @data_source %>
                </div>
            </div>
        </div>
    </div>
</div>
