<div id="<%= dom_id chat %>">
  <p>
    <strong>Name:</strong>
    <%= chat.name %>
  </p>

  <p>
    <strong>Data source:</strong>
    <%= chat.data_source_id %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= chat.slug %>
  </p>

</div>
