<div class="card mb-0 flex-grow-1" style="height: 350px">
    <div class="card-body">
    <%= render partial: "queries/output", locals: { sql: sql, adjustment: adjustment, data_grid_id: data_grid_id } %>
    </div>
</div> 