<%= form_with(url: queries_path, method: :get, local: true, class: 'd-flex w-100 align-items-start mb-0', role: 'search', id: 'query-form') do %>
  <%= text_area_tag :sql, sql_value, class: 'form-control me-2 flex-grow-1', placeholder: 'Enter your query here', aria: { label: 'Query' }, rows: 5, id: 'sql-textarea' %>
  <div class="button-container">
    <%= submit_tag 'Query', class: 'btn btn-primary fixed-height-button' %><br>
    <a href="#" id="save-btn" class="btn btn-primary fixed-height-button mt-2" data-bs-toggle="modal" data-bs-target="#saveModal">Save</a>
  </div>
<% end %>

<script>
document.addEventListener("turbo:load", (event) => {
  const queryForm = document.getElementById("query-form");
  const textArea = queryForm.querySelector("#sql-textarea");
  const saveButton = document.getElementById("save-btn");
  const modalSqlHiddenField = document.getElementById("modal-sql-hidden");

  textArea.addEventListener("keydown", (event) => {
    if ((event.altKey || event.metaKey) && event.key === "Enter") {
      event.preventDefault();
      queryForm.submit();
    }
  });

  saveButton.addEventListener("click", (event) => {
    modalSqlHiddenField.value = textArea.value;
  });
});

function saveQuery() {
  // Retrieve the values from the input fields
  const sql = document.getElementById("sql-textarea").value;
  console.log(sql);
  const queryName = document.getElementById("query_name").value;
  // Create the data object
  const data = {
    sql: sql,
    name: queryName,
  };
  // Send POST request to the server
  fetch("<%= queries_path %>", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "X-CSRF-Token": document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
    },
    body: JSON.stringify(data),
  })
    .then((response) => {
      if (response.ok) {
        window.location.href = response.url;
        //location.reload();
      } else {
        return response.json().then((errorData) => {
          console.error("Error:", errorData);
        });
      }
    })
    .catch((error) => {
      console.error("Error:", error);
    });
}
</script>