<% sql_value = @query ? @query.sql : params[:sql] %>
<%= render partial: 'queries/grid' %>
<style>
  .tall {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<div class="container-fluid tall">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Query</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <%= render partial: 'queries/input', locals: { sql_value: sql_value } %>
        </div>
      </div>
    </div>
  </div>
 
  <% unless sql_value.blank? %>
    <div class="row flex-grow-1">
      <div class="col-12 d-flex">
        <div class="card mb-0 flex-grow-1">
          <div class="card-body">
            <%= render partial: "queries/output", locals: { sql: sql_value, adjustment: 32, data_grid_id: "out-grid" } %>
          </div>
        </div>
      </div>
    </div>
  <% end%>
  
</div>
  



 
  
