<% sql_value = @query ? @query.sql : params[:sql] %>
<%= render partial: 'queries/grid' %>
<style>
  .tall {
    height: calc(100% - 280px);
    display: flex;
    flex-direction: column;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Query</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-4" style="resize: vertical !important;overflow: auto; height: 200px" id="resizableDiv">
        <div class="card-body">
          <%= render partial: 'queries/input', locals: { sql_value: sql_value, data_source: @current_user.connected_data_source } %>
        </div>
      </div>
    </div>
  </div>
</div>
 
 <turbo-frame id="output-content"  data-turbo-action="replace">
  <div class="alert alert-warning alert-dismissible fade show d-none" role="alert">
  <strong>Error!</strong><span id="error"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <% sql_value = @query ? @query.sql : params[:sql] %>
    <div class="alert alert-warning alert-dismissible fade show d-none mx-3" role="alert" id="sql_error">
   <span id="error"></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 <div class="container-fluid tall d-none" id="sql_complete">
  <% unless sql_value.blank? %>
    <div class="row flex-grow-1" id="output-content">
      <div class="col-12 d-flex">
        <div class="card mb-0 flex-grow-1">
          <div class="card-body">
            <%= render partial: "queries/output", locals: { sql: sql_value, adjustment: 36, data_grid_id: "out-grid" } %>
          </div>
        </div>
      </div>
    </div>
  <% end%>
</div>
</turbo-frame>
  



 
  
