@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-size-base: 0.813rem;
$primary: #6261cc;
$secondary: #35383b;
$success: #5ad8a1;
$danger: #fa5c7c;
$warning: #ffc35a;
$info: #39afd1;
$font-family-sans-serif: "Inter", sans-serif;

$input-bg: #2e3133;
$input-focus-bg: #424649;
$input-focus-box-shadow: none;
$input-box-shadow:  none;

$btn-hover-bg-shade-amount:       15%;
$btn-hover-bg-tint-amount:        15%;

$h1-font-size:   22.75px;
$h2-font-size:   19.50px;
$h3-font-size:   17.55px;
$h4-font-size:   16.25px;
$h5-font-size:   14.95px;
$h6-font-size:   13.95px;

$input-border-width: 0px;



@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");



// @each $color, $value in $theme-colors {
//   .btn-#{$color} {
//     @include button-variant($value, $value,
//     // modify
//     $hover-background: lighten($value, 7.5%),
//     $hover-border: lighten($value, 10%),
//     $active-background: lighten($value, 10%),
//     $active-border: lighten($value, 12.5%)
//     // /modify
//     );
//   }
// }

.accordion {
  --bs-accordion-btn-color: $light;
	--bs-accordion-active-bg: $accordion-button-bg;
  --bs-accordion-active-color: $light;
  --bs-accordion-body-padding-y: 12px;
  --bs-accordion-body-padding-x: 12px;
}

.list-group {
  --bs-list-group-item-padding-x: 4px;
}

.card {
  --bs-card-border-width: 0px;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
 }

 .accordion-button.no-icon::after {
    background-image: none !important;
}

.scrollable-content {
  height: calc(100vh); /* Adjust based on your header height or any top-fixed elements */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: transparent transparent; /* For Firefox */
  //scrollbar-width: thin; /* For Firefox */
}

/* Webkit (Chrome, Safari, Edge) */
.scrollable-content::-webkit-scrollbar {
  width: 10px; /* Adjust width to your preference */
  height: 10px; /* Adjust height to your preference */
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent; /* Makes the scrollbar track transparent */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.113); /* Customize thumb color as needed */
  border-radius: 10px; /* Optional: improve appearance with rounded corners */
  border: 3px solid transparent; /* Helps to add some space around the thumb */
  background-clip: padding-box; /* Keeps thumb border inside the track */
}

/* Firefox */
.scrollable-content {
  scrollbar-color: rgba(0, 0, 0, 0.136) transparent;
  //scrollbar-width: thin;
}

.scrollable {
  
  flex-grow: 1;
  max-width: 100%; 
  max-height: 100%; /* prevents growing beyond the parent's height */
  overflow: auto; 
}

.button-container {
  text-align: right;
}


// body {
//   font-family: "Inter", sans-serif;
// }

.floatz {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000; /* Ensure it's above other content */
    /* Optional Styling for the div */
    background-color: $dark; /* semi-transparent background */
    color: white; /* text color */
    padding: 0px; /* some padding inside the div */
    border-width: 1px;
    border-color: #6c757d;
    border-radius: 5px; /* rounded corners */
}

.nav-link, .nav-link i, .nav-link span {
  display: inline-block;
  vertical-align: middle; 
}


.gradient-background {
background-color: #FF3CAC;
background-image: linear-gradient(286deg, #b12a77 0%, #784BA0 50%, #431661 100%);
}

  .tall {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.25s ease-in-out;
}