<% if connected? %>
  <ul class="list-group list-group-flush">
    <% current_user.connected_data_source.qchats.each do |chat| %>
      <% if chat.name != "Chat" %>
        <li class="list-group-item">
          <a href="<%= data_source_qchat_path(chat.data_source, chat) %>" class="nav-link px-0"><%= chat.name %></a>
        </li>
      <% end%>
    <% end%>
  </ul>
<% end %>