<% if connected? %>
  <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
    <% current_user.connected_data_source.tables.each do |table| %>
      <li>
        <a href="<%= queries_path(sql: "select * from #{table.name}").sub('queries','query') %>" class="nav-link px-0"><%= table.name %></a>
      </li>
    <% end%>
  </ul>
<% end %>